body {
    background-color: black;
}

h2 {
    color: rgb(245, 245, 245);
    font-family: Billabong;
}

#login ::placeholder {
    color: rgb(164, 164, 164);
}

#login input {
    background-color: rgb(18, 18, 18);
    border: 1px solid rgb(85, 85, 85);
    font-size: 12px;
    padding-left: 8px;
    border-radius: 3px;
}

#login button {
    color: rgb(164, 164, 164);
    background-color: rgb(46, 108, 181);
    border: none;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#card {
    border: 1px solid rgb(54, 54, 54);
    width: 350px;
    height: 475px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#login form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#login input, #login button {
    font-family: system-ui;
    width: 275px;   
    height: 35px;
    box-sizing: border-box;
}