body {
    background-color: black;
}

#login ::placeholder {
    color: rgb(164, 164, 164);
}

#login input {
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18);
    border: 1px solid rgb(85, 85, 85);
    font-size: 12px;
    padding-left: 8px;
    border-radius: 3px;
}

#logo-img {
    margin-top: 20px;
    width: 250px;
    height: auto;
}

#login-img {
    width: 450px;
    height: auto;
}

#login button {
    color: rgb(164, 164, 164);
    background-color: rgb(46, 108, 181);
    border: none;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#card1 {
    border: 1px solid rgb(54, 54, 54);
    width: 350px;
    height: 475px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card2 {
    border: 1px solid rgb(54, 54, 54);
    width: 350px;
    height: 60px;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(245, 245, 245);
}

main {
    font-family: system-ui;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#login form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#login input, #login button {
    font-family: system-ui;
    width: 275px;   
    height: 35px;
    box-sizing: border-box;
}

#card2 a {
    color: rgb(0, 149, 246);
    text-decoration: none;
    margin-left: 5px;
}